extends ../layouts/_layoutPage
block content
  h2 create
    form(action= "/books/create", method= "POST")
      input(type= "text" name= "name")
      button Create
    a(href= '/books') book list
    