extends ../layouts/_layoutPage
block content
  h1 BOOK LIST
  .d-flex.align-items-center
    a.btn.btn-primary.mb-auto(href= 'book/create') New
    form.form-group.d-flex.ml-auto(action = "/search")
      input.form-control(type = "text" name = "q", value= value, placeholder='search book')
      button.btn.btn-primary.ml-1 Search
  table.table  
    tr
      th Name
      th book
      th Actions
    each book in books
      tr
        td= book.name
        td= book.name 
        td
            a(href= '/books/' + book.idUser) view