html
    head
        title NTA-Fashi
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css")
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        style.
            /* Make the image fully responsive */
            .carousel-inner img {
            width: 100%;
            height: 100%;
            }
    body
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light.text-capitalize.fixed-top
                a.navbar-brand(href='#') 
                    img.rounded.d-inline-block.align-top( src='/images/logo.png', width='30', height='30', alt='')
                    |   fashi
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/') 
                                i.fas.fa-home
                                |   home
                        li.nav-item
                            a.nav-link(href='/shop') 
                                i.fas.fa-shopping-cart
                                |   Shop
                        li.nav-item
                            a.nav-link(href='/users') 
                                i.fas.fa-users
                                |   Users
                        li.nav-item
                            a.nav-link(href='/products') 
                                i.fas.fa-cubes
                                |   products
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.fas.fa-bars
                                |   Category
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='#') waters
                                a.dropdown-item(href='#') cakes
                                .dropdown-divider
                                a.dropdown-item(href='#') Something else here
                        li.nav-item
                            a.nav-link(href='#') 
                                i.fas.fa-info
                                |   about
                    ul.navbar-nav.flex-row.ml-md-auto.align-items-center
                        if user
                            li.nav-item
                                img.rounded-circle.d-inline-block.border.border-primary( src='/images/avatar.png', width='30', height='30', alt='')
                            li.nav-item    
                                a.font-italic.nav-link(href='#')=user.name
                            li.nav-item
                                a.nav-item(href='/auth/logout')
                                    i.fas.fa-sign-out-alt.nav-link
                        else
                            a.nav-item.nav-link.fas.fa-sign-in-alt(href='/auth/login', rel='noopener') 
                                | Sign in
        main.mt-5.pt-2.mr-5.ml-5.h-100
            block content
        //- footer.text-muted.text-center.float-bottom
        //-     .container
        //-         p.float-right
        //-             a(href='#') 
        //-                 i.fa.fa-chevron-circle-up.fa-3x
        //-         p Album example is &copy; Bootstrap, but please download and customize it for yourself!
        //-         p
        //-             | New to Bootstrap? 
        //-             a(href='https://getbootstrap.com/') Visit the shoppage
        //-             |  or read our 
        //-             a(href='/docs/4.5/getting-started/introduction/') getting started guide
        //-             | .
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Your Website 2020

