html
    head
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') 
                img.rounded.d-inline-block.align-top( src='/images/logo.png', width='30', height='30', alt='')
                |   Fashi
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') 
                            i.fas.fa-home
                            |   Home
                    li.nav-item
                        a.nav-link(href='/users') 
                            i.fas.fa-users
                            |   Users
                    li.nav-item
                        a.nav-link(href='/books') 
                            i.fas.fa-book
                            |   Books
                    li.nav-item
                        a.nav-link(href='/transactions') 
                            i.fas.fa-book-reader
                            |   Transactions
                    li.nav-item
                        a.nav-link(href='#', tabindex='-1', aria-disabled='true') about
                ul.navbar-nav.flex-row.ml-md-auto.align-items-center
                    if user
                        li.nav-item
                            i.fas.fa-cat.nav-link.nav-link 
                                | Hello:
                        li.nav-item    
                            a.font-italic.nav-link(href='#')=user.name
                        li.nav-item
                            a.nav-item(href='/auth/login')
                                i.fas.fa-sign-out-alt.nav-link
                    else
                        
                        a.nav-item.nav-link.fas.fa-sign-in-alt(href='/auth/login', rel='noopener') 
                            | Sign in
        .container.p-3.h-100
            block content
        .text-center.d-flex.align-items-end.justify-content-center
            footer.mastfoot.mt-auto
                .inner
                    p
                        | Cover template for 
                        a(href='https://getbootstrap.com/') Bootstrap
                        | , by 
                        a(href='https://twitter.com/mdo') @nta
                        | .