extends ./layouts/_layoutPage.pug
block content
    h1 Hello #{name}
    ul
        li
            a(href= '/users') user list
        li
            a(href= '/books') book list
        li 
            a(href= '/transactions') transactions list