extends ../layouts/_layoutPage
block content 
  h1 TRANSACTION LIST
  .d-flex.align-items-center
    a.btn.btn-primary.mb-auto(href= 'transaction/create') New
    form.form-group.d-flex.ml-auto(action = "/search")
      input.form-control(type = "text" name = "q", value= value, placeholder='search transaction')
      button.btn.btn-primary.ml-1 Search
  table.table  
    tr
      th Name
      th book
      th Actions
    each transaction in transactions
      tr
        td= transaction.user.name
        td= transaction.book.name 
        td
            a(href= '/transactions/' + transaction.idUser) view