extends ../layouts/_layoutPage
block content 
  h1 TRANSACTION LIST
  a(href="/") <-- Home
  br
  form(action = "/search")
    input(type = "text" name = "q" value= value)
    button Search
    
  a(href= 'transactions/create') New

  table(border='1')
    tr
      th user name
      th book name
      th #
    each transaction in transactions
      tr
        td= transaction.user.name
        td= transaction.book.name
        td
          a(href= '/transactions/' + transaction.idUser) view
      tr