extends ../layouts/_layoutPage
block content
    h2 delete Book
    b ID: 
    span=books.id
    div &nbsp
    b Name:
    span=books.name
    hr
    p
        a(href= '/books/delete') delete
    a(href= '/books') <-- book list
